body {
    font-family: 'Poppins', sans-serif;
    background-color: #ACB9CD;
}

h1 {
    font-weight: 900;
    font-size: 60px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 0px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 36px;
    display: inline;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-size: 30px;
    display: inline;
}

a {
    text-decoration: none;
}

div {
    border-radius: 30px;
    margin: 30px;
    padding: 60px;
}

#kobras {
    background-image: url('./resources/17aeb8c944dd290d7a48a45ecd1d1bb7_original.jpg');
    background-size: cover;
    min-height: 400px;
    color: white;
    text-decoration: none;
    overflow: auto;
}

#kobras h1 {
    padding-bottom: 180px;
}

#kobras a {
    color: white;
    text-decoration: none;
}
#kobras a:hover {
    color: #5093B4;
}

#kobras p {
    font-size: 30px;
}

p.last {
    display: inline-block;
}

#kobras h2 {
}

#spotify {
    display: inline-block;
}

#spotify a {
    color: white;
    text-decoration: none;
}

#spotify a:hover {
    color: #1DB954;
}

#maru {
    background-color: #C0CDDA;
    overflow: auto;
}

#maru h1 {
    color: white;
}

#archive h2 {
    display: inline-block;
    margin-left: 10px;
}

#maru p {
    font-size: 30px;
    color: white;
    display: inline;
}

#maru p .last {
    display: inline-block;
}

#maru a {
    color: white;
    text-decoration: none;
}

#maru a:hover {
    color: #5093B4;
}
